name: Diagnostics
on:
  workflow_dispatch:
jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
      - name: Get Clang List
        run: curl -s "https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86/+refs/heads/master?format=JSON" | grep -oP "clang-r\d+[a-z0-9]+" | head -n 20
