name: Build
on:
  push:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: |
          git clone https://github.com/MotorolaMobilityLLC/kernel-msm --depth 1 source
          sudo apt-get update
          sudo apt-get install -y build-essential bc bison flex libssl-dev libelf-dev clang lld llvm
          cd source
          make O=out ARCH=arm64 gki_defconfig
          scripts/kconfig/merge_config.sh -O out arch/arm64/configs/gki_defconfig arch/arm64/configs/vendor/parrot_GKI.config
