name: Kernel Build

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Directory Mapping
        run: |
          git clone https://github.com/MotorolaMobilityLLC/kernel-msm -b android-14-release-u2ubs34.44-86-7 kernel --depth 1
          echo "--- SEARCH RESULTS ---"
          find kernel -name "*pstar_defconfig*"
          echo "--- ARCH FOLDER CHECK ---"
          ls -R kernel/arch/arm64/configs | grep pstar || echo "No pstar matches found in configs"
