name: Kernel Build
on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: false
          fetch-depth: 1

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y bc build-essential python3 python-is-python3 \
          gcc-aarch64-linux-gnu g++-aarch64-linux-gnu libelf-dev \
          bison flex libssl-dev qtbase5-dev wget pahole libssl-dev curl

      - name: Fetch Official Toolchain
        run: |
          mkdir -p clang
          # Fetching directly from Google Android Source (Official r487747c)
          curl -L "https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86/+archive/refs/heads/android14-release/clang-r487747c.tar.gz" -o clang.tar.gz
          tar -xzf clang.tar.gz -C clang
          rm clang.tar.gz

      - name: Build Kernel
        run: |
          export PATH=$(pwd)/clang/bin:$PATH
          export ARCH=arm64
          export SUBARCH=arm64
          export CLANG_TRIPLE=aarch64-linux-gnu-
          export CROSS_COMPILE=aarch64-linux-gnu-
          export CROSS_COMPILE_ARM32=arm-linux-gnueabi-
          export KBUILD_BUILD_USER=Nick
          export KBUILD_BUILD_HOST=KernelOS
          
          # Skip broken submodule links
          git submodule update --init --recursive --depth 1 || true
          
          make O=out CC=clang ARCH=arm64 vendor/wayne_defconfig
          make -j$(nproc --all) O=out \
            CC=clang \
            CLANG_TRIPLE=aarch64-linux-gnu- \
            CROSS_COMPILE=aarch64-linux-gnu- \
            CROSS_COMPILE_ARM32=arm-linux-gnueabi- \
            LD=ld.lld \
            AR=llvm-ar \
            NM=llvm-nm \
            OBJCOPY=llvm-objcopy \
            OBJDUMP=llvm-objdump \
            STRIP=llvm-strip

      - name: Upload Kernel Image
        uses: actions/upload-artifact@v4
        with:
          name: Kernel-Image
          path: out/arch/arm64/boot/Image.gz-dtb
