name: Build Kernel
on:
  workflow_dispatch:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build Kernel
        uses: dabao1955/kernel_build_action@main
        with:
          kernel-url: https://github.com/MotorolaMobilityLLC/kernel-msm
          kernel-branch: MMI-U2UBS34.44-57-8-7
          config: boston_defconfig
          arch: arm64
          aosp-gcc: true
          aosp-clang: true
          susfs: true
          susfs-patch-dir: patches
