name: Kernel Build (Stylus 2024 + susfs)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Kernel
        run: |
          git clone https://github.com/MotorolaMobilityLLC/kernel-msm -b android-14-release-u1tgn34.42-86 kernel --depth 1

      - name: Set up Toolchain
        run: |
          sudo apt-get update
          sudo apt-get install -y bc build-essential flex bison libssl-dev libelf-dev clang lld llvm gcc-aarch64-linux-gnu libncurses-dev

      - name: Compile Kernel
        run: |
          cd kernel
          export ARCH=arm64
          export LLVM=1
          export CROSS_COMPILE=aarch64-linux-gnu-
          
          # Create output directory
          mkdir -p out
          
          # 1. Initialize the base GKI config (Creates the .config file)
          make O=out ARCH=arm64 vendor/parrot_GKI.config
          
          # 2. Merge the Motorola-specific 'Parrot' fragment
          make O=out ARCH=arm64 vendor/parrot_consolidate.config
          
          # 3. Final Compilation
          make O=out ARCH=arm64 -j$(nproc)
