name: Kernel Build
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build Kernel
        uses: dabao1955/kernel_build_action@main
        with:
          kernel-url: https://github.com/MotorolaMobilityLLC/kernel-msm
          kernel-branch: mmi-U2UBS34.44-57-8-7
          config: pstar_defconfig
          arch: arm64
          aosp-clang: false
          other-clang-url: "https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86/+archive/refs/tags/android-cts-11.0_r1/clang-r383902.tar.gz"
          ksu: true
